<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ultra&display=swap" rel="stylesheet">

</head>
<app-home-layout class="background-image-container">
    <div class="d-flex flex-column justify-content-center align-items-center app-overlay">
        <div class="rentacar">
            <h1 id="rentacar">Rental Gallery!</h1>
        </div>
        <app-button (click)="toggleMenu($event)">View Models</app-button>
    </div>

    <div class="container mt-4" *ngIf="menuVisible">
        <div class="row justify-content-center">
            <div class="d-flex flex-wrap justify-content-center" >
                <div class="col-md-3" >
                    <app-menu-copy [items]="carsMenuItems"></app-menu-copy>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-2">
                <app-brands-list-menu [initialSelectedBrandId]="selectedBrandId" 
                (selectBrand)="onSelectBrand($event)"
                ></app-brands-list-menu>
            </div>
            <div class="col-lg-8">
                <app-models-card-list [brandId]="selectedBrandId"></app-models-card-list>
            </div>
        </div>
    </div>

    
</app-home-layout>
